* {
    box-sizing: border-box;
}



body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

:root {

    --body-min-width: 350px;

    --header-bar-min-height: 50px;
    --header-bar-height: 55px;
    --header-bar-max-height: 60px;

    --header-banner-min-height: 200px;
    --header-banner-height: 300px;
    --header-banner-max-height: 400px;

    --header-min-width: 1000px;

}



/* 移动菜单 */
.moblie-menu.el-drawer.ltr.open {
    background: #121212;
    color: #f0f0f0;

}