/* 浅色主题（默认） */
:root {
    --bg-primary: #ffffff;
    --bg-secondary: #f8f9fa;
    --text-primary: #222222;
    --text-secondary: #666666;
    --border-color: #e0e0e0;
    --primary-color: #00aeec;
    --bg-nomarl:#f0f2f5;
    --bg-hover:#e4e7eb;
    
    --button-bg0: #ffffff;
    --button-bg0-hover: #f8f8f8;
    --button-text0: #333;
    --button-text0-hover: #333;
    
    --button-bg1: #00aeec;
    --button-bg1-hover: #04bcff;
    --button-text1: #ddd;
    --button-text1-hover: #fff;

    
    --header-bar-bg: transparent;
    --header-bar-bg-scrolled: rgba(255, 255, 255, 0.9);
    --header-bar-bg-scrolled-shadow:rgba(0, 0, 0, 0.1);  
    --header-bar-logo:#5fd0f3;
    --header-bar-icon:#fff;
    --header-bar-icon-scrolled: #333;
    --header-bar-icon-switch: #222;
    --header-bar-button: #fff;
    --header-bar-button-login-bg:#00aeec;
    --header-bar-button-publish-bg: #fb7299;
    --header-bar-button-publish-bg-hover: #f55a86;
    --header-banner-bg: rgba(255, 255, 255, 0.9);



    --header-title: #fff;
    --header-title-scrolled: #222;


    --input-line-label: #6d6a6a;
    --input-line-label-focus: #00aeec;
    --input-line-border-bottom: #ccc;
    --input-line-content: var(--text-primary);
    --input-line-wrapper-after: var(--input-line-label-focus);
    --input-line-placeholder: var(--input-line-label);
    --input-line-password-toggle: #888;
    --input-line-password-toggle-hover: #00aeec;
    --input-line-wrapper-focus:rgba(31, 146, 199, 0.9);

    --input-search-bg: #ebebeb;
    --input-search-bg-hover: #ffffff;
    --input-search-border: #ffffff;
    --input-search-content-focus: #dddcdc;
    --input-search: #61666D;
    --input-search-focus: #18191C;
    --input-search-btn: #18191C;
    --input-search-btn-hover: #bdbdbd;
    --input-search-clear-btn: #c4c5c7;
    --input-search-clear-btn-hover: #666;

    --login-modal-bg: #e7ecfd;
    --login-button-bg: #00aeec;
    --login-button-bg2: #fff;
}




/* 深色主题 */
:root.dark {
    --bg-primary: #121212;
    --bg-secondary: #1e1e1e;
    --text-primary: #f0f0f0;
    --text-secondary: #aaaaaa;
    --border-color: #333333;
    --primary-color: #66b1ff;

    --bg-nomarl:#2d2d2e;
    --bg-hover:#505050;
    
    --header-bar-bg: transparent;
    --header-bar-bg-scrolled: rgba(22, 22, 22, 0.9);
    --header-bar-bg-scrolled-shadow:rgba(0, 0, 0, 0.1);  
    --header-bar-logo:#5fd0f3;
    --header-bar-icon:#fff;
    --header-bar-icon-scrolled: #fff;
    --header-bar-icon-switch: #222;
    --header-bar-button: #fff;
    --header-bar-button-login-bg:#00aeec;
    --header-bar-button-publish-bg: #fb7299;
    --header-banner-bg: rgba(255, 255, 255, 0.9);



    --header-title: #fff;
    --header-title-scrolled: #fff;


    --input-line-label: #6d6a6a;
    --input-line-label-focus: #007bff;
    --input-line-border-bottom: #ccc;
    --input-line-content: var(--text-primary);
    --input-line-wrapper-after: var(--input-line-label-focus);
    --input-line-placeholder: var(--input-line-label);
    --input-line-password-toggle: #888;
    --input-line-password-toggle-hover: #007bff;


    --input-search-bg: #ebebeb;
    --input-search-bg-hover: #ffffff;
    --input-search-border: #ffffff;
    --input-search-content-focus: #dddcdc;
    --input-search: #61666D;
    --input-search-focus: #18191C;
    --input-search-btn: #18191C;
    --input-search-btn-hover: #bdbdbd;
    --input-search-clear-btn: #c4c5c7;
    --input-search-clear-btn-hover: #666;

    --login-modal-bg: #e7ecfd;
    --login-button-bg: #00aeec;
}